*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
/*/build
.svn
#/*/.gitignore
/*/.externalNativeBuild
.idea
*.o
*.exe
#qt project generate file : xxx.pro.user
*.pro.user 
#qt project generate directory : build-untitled-Desktop_Qt_5_9_0_MinGW_32bit-Debug
*_Qt_5_9_0_MinGW_32bit*/